.content {
  padding: 10px;
  grid-area: c;
  background-color: navy;
}
.content img {
  width: auto;
  height: 600px;
}

.item_posts,
.Post {
  font-size: 64px;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-shadow: 1px 1px 1px black, 0 0 0.3 navy;
}
